```
TypeError: foo is not a function
  at createError (/assets/main.js:33886:15)
  at Object.ReactErrorUtils.invokeGuardedCallback (/assets/main.js:15882:16)
  at executeDispatch (/assets/main.js:15411:21)
  at Object.executeDispatchesInOrder (/assets/main.js:15434:5)
  at executeDispatchesAndRelease (/assets/main.js:7381:22)
  at executeDispatchesAndReleaseTopLevel (/assets/main.js:7392:10)
  at Array.forEach (native)
  at forEachAccumulated (/assets/main.js:24784:9)
  at Object.processEventQueue (/assets/main.js:7595:7)
  at runEventQueueInBatch (/assets/main.js:55446:18)
```
