const ErrorReporter = (function Singleton() {
  ...
  let remainingApiCalls = 10;

  function sendToLoggly(data, config) {
    if (!config.logglyApiKey || remainingApiCalls < 1) {
      return;
    }

    remainingApiCalls -= 1;

    send(config.logglyApiKey, extendedData);
  }
